body {
  font-family: "Roboto", sans-serif;
}
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-top: 0;
  position: sticky;
  top: 0;
  background-color: white;
}
#logo {
  width: 60px;
  height: 30px;
}
.left-top-bar {
  display: flex;
  align-items: center;
  gap: 15px;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  padding: 10px;
}
i {
  font-size: 30px;
}
button:hover {
  background-color: #f1f1f1;
}

.center-top-bar {
  display: flex;
  align-items: center;
  gap: 10px;
}
.search {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  background-color: #f1f1f1;
}

.search > input {
  border: none;
  background-color: transparent;
  padding: 10px;
  width: 30vw;
  border-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search > input:focus {
  outline: none;
  border: 1px solid dodgerblue;
}

#avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.right-top-bar {
  display: flex;
  align-items: center;
  gap: 10px;
}
main {
  display: flex;
  gap: 20px;
  padding: 20px;
}
.nav-bar {
  height: 80vh;
  flex: 0.15;
  /* Scrollbar */
  overflow-y: auto;
  scrollbar-width: thin;
}
.videos {
  flex: 0.85;
  gap: 20px;
  /* Scrollbar */
  overflow-y: auto;
  scrollbar-width: thin;
  height: 80vh;
}

.nav-button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
}

.hr {
  border: 1px solid #f1f1f1;
  margin: 10px 0;
}
.videos {
  /* A flexible grid with a maximum of 6 elements on a large scree */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  gap: 20px;
}
.video {
  padding: 10px;
  border-radius: 10px;
  width: 380px;
}
.thumbnail {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 15px;
}
.video-info {
  display: flex;
  gap: 10px;
}
.video-text > p {
  font-size: 14px;
  color: gray;
}
